@model Poetizando.Entidade.Tag
@using Poetizando.Negocio
@{ 
    ViewBag.FbTitle = "Frases de " + Model.Nome;
    ViewBag.FbDescription = "Frases de " + Model.Nome;    
    ViewBag.Keywords = "frase, frases, citações, poesia, poesias, poema, poemas, texto, textos, citacao, verso, versos, palavra, palavras, frases de " + Model.Nome;
}

<script type="text/javascript">
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 350) {
            CarregarFrases();
        }
    });

    var _inCallback = false;
    var _registroInicial = 30;
    function CarregarFrases() {
        if (!_inCallback) {
            _inCallback = true;
            $.get("/Frase/MostrarPorTag/@Model.Nome.NomeURL()/" + _registroInicial, function (data) {

                if (data != '')
                    $(".lista-frases").append(data);

                _inCallback = false;
                _registroInicial += 30;
            });
        }
    }
</script>


<section id="pagina-frase-autor">
    
    <nav class="breadcrumb">
        <ul>
            <li><a href="/" title="Volte para a página inicial do Poetizando">inicial</a></li>
            <li>></li>
            <li><a href="/tag/frases-de-@Model.Nome.NomeURL()" title="Inspire-se com frases de @Model.Nome">@Model.Nome</a></li>
        </ul>
    </nav>
  
    <section class="lista-frases">
        <h1>Frases de @Model.Nome</h1>
        @Html.Partial("_ListaFrase", (IList<Poetizando.Entidade.Frase>)ViewBag.Frases )
    </section>

    <section class="propaganda-horizontal-inferior">
        <br clear="all" />
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-8117876802922910";
        /* poetizando-cabecalho */
        google_ad_slot = "9501552220";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </section>
</section>