@using Poetizando.Negocio
@{ ViewBag.Title = "- Sucesso"; }
<section id="pagina-obrigado">

    <nav class="breadcrumb">
        <ul>
            <li><a href="/" title="Volte para a página inicial do Poetizando">inicial</a></li>
            <li>></li>
            <li><a href="/frase/criar"  title="Colabore com o crescimento do Poetizando, envie uma frase." >enviar frase</a></li>
        </ul>
    </nav>

    <h2>Obrigado!</h2>

    <p>Obrigado, pela sugestão. Nossa equipe irá analisar e disponibilizar a frase o mais rápido possível.</p>

</section>