@using Poetizando.Negocio
@{ ViewBag.Title = "- Sucesso!"; }
<section id="pagina-obrigado">

    <nav class="breadcrumb">
        <ul>
            <li><a href="/" title="Volte para a página inicial do poetizando">inicial</a></li>
            <li>></li>
            <li><a href="/contato"  title="Fale conosco" >contato</a></li>
        </ul>
    </nav>

    <h2>Obrigado!</h2>

    <p>Obrigado, sua mensagem foi enviada, responderemos o mais rápido possível.</p>

</section>