@model System.Web.Mvc.HandleErrorInfo

<hgroup class="title">    
    <h2><span>:(</span> algo deu errado</h2>
    <p>Algo deu errado mas nossa equipe já foi comunicada e o programador responsável demitido ( joke ).</p>
    <p>Em breve este problema será solucionado. Obrigado por ajudar a tornar o Poetizando cada vez melhor.</p>
</hgroup>
