@{ 
    ViewBag.FbTitle = "Sobre";
    ViewBag.FbDescription = "Esperamos poder trazer alegria e motivação para todos que passarem por aqui. A inspiração vem de tudo aquilo que nos faz bem. Inspire-se com o Poetizando.";
}
<section id="pagina-sobre">

    <nav class="breadcrumb">
        <ul>
            <li><a href="/" title="Volte para a página inicial do Poetizando">inicial</a></li>
            <li>></li>
            <li><a href="/sobre"  title="Conheça o Poetizando" >sobre</a></li>
        </ul>
    </nav>

     <h2>Sobre</h2>

    <p>O poetizando visa ser uma fonte de conteúdo inspirador utilizando como ferramenta de comunicação a internet, através de uma página no 
    <a href="http://facebook.com/poetizandooficial" title="Acompanhe o Poetizando no facebook" target="_blank">facebook</a> e um <a href="http://poetizando.com.br" title="Inspire-se com o Poetizando" target="_blank">website</a>.</p>

    <p>Esperamos poder trazer alegria e motivação para todos que passarem por aqui.</p>

    <p>A inspiração vem de tudo aquilo que nos faz bem. Inspire-se com o Poetizando.</p>

    <hr />

    <h2>Números</h2>

    <p>O Poetizando recebe diariamente muitos acessos, tornando-se assim uma interessante mídia para divulgação da sua marca.</p>

    <p>Média de alcance total semanal da FanPage: <strong>600.787</strong> </p>

    <p>Média de visualização semanal do site: <strong>N/A</strong></p>

    <hr />

    <h2>Mídia</h2>

    <p>Veja abaixo as aparições do Poetizando na mídia.</p>

    <ul>
        <li><a href="http://educacaoadois.blogspot.com.br/2013/03/poetizando.html" target="_blank" title="Veja o Poetizando no blog Educação a dois">Site Educação a Dois</a></li>
    </ul>

    <hr />

    <h2>Conteúdo</h2>

    <p>A maioria das frases que compõem o Poetizando foram removidas da própria internet, por este motivo disponibilizamos funcionalidades de correção e remoção de frases.</p>

    <p>Caso perceba problemas com qualquer uma das frases, fique a vontade para enviar a correção.</p>

    <p>Trabalharemos duro para que nosso conteúdo fique cada vez melhor.</p>

    <h2>Frases oficiais</h2>
    <a name="frase-garantida"></a>

    <p>O Poetizando está trabalhando sério em parceria com diversos autores a fim de garantir a genuinidade das frases contidas aqui.</p>

    <p>Sempre que você encontrar o badge <img src="/content/img/selo-oficial.png" alt="badge oficial"  title="Frase oficial"/> em uma frase, poderá ter a certeza de que 
    o autor confirmou sua genuinidade e aprovou sua presença aqui no Poetizando.</p>

</section>